.form {
  @media #{$mq-desktop} {
    padding-bottom: 64px;
  }
  h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 40px 0;
  }
  form {
    @include align-center;
    flex-direction: column;
    input {
      width: 95%;
      border: solid 1px #b2b2b2;
      color: $cor-cinza-escuro;
      border-radius: 50px;
      padding: 5px;
      text-align: center;
      font-size: 15px;
      margin-bottom: 20px;
      @media #{$mq-tablet} {
        width: 320px;
      }
      &::placeholder {
        font-weight: 300;
      }
    }
  }
  button {
    @include botao-vermelho;
    display: block;
    width: 100%;
    height: 40px;
    color: #fff;
    font-size: 16px;
    @media #{$mq-tablet} {
      width: 330px;
      margin: 0 auto;
      display: block;
    }
  }
}
