.information {
  border-bottom: solid 1px #b2b2b2;
  padding-bottom: 32px;
  @media #{$mq-desktop} {
    @include full-viewport();
  }
  h2 {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 48px 0;
  }
  .topics{
    @media #{$mq-tablet} {
      display: flex;
      justify-content: space-between;
    }
    .icon-text {
      @include align-center;
      flex-direction: column;
      margin-bottom: 32px;
      @media #{$mq-tablet} {
        width: 31%;
      }
      img {
        width: 150px;
      }
      .text {
        p {
          margin: 0;
          font-size: 16px;
          text-align: center;
          font-weight: 300;
          color: #878787;
          line-height: 20px;
        }
        .title {
          color: #e40523;
          margin: 16px 0 8px 0;
          font-size: 18px;
        }
      }
    }
  }
}
