body {
  margin-top: 64px;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 90vw;
  margin: auto;
  @media #{$mq-desktop} {
    max-width: 1024px;
  }
}

@mixin botao-transparente {
  background: none;
  border: none;
  padding: 0;
}

@mixin botao-vermelho {
  background-color: $cor-padrao;
  border: none;
  border-radius: 50px;
}

@mixin align-center {
  display: flex;
  align-items: center;
}

@mixin justify-center {
  display: flex;
  justify-content: center;
}
