$cor-padrao: #e40523;
$cor-cinza-claro: #dadada;
$cor-cinza-medio: #b2b2b2;
$cor-cinza-escuro: #878787;
$cor-preto-fibra: #1d1d1b;

$mq-tablet: "(min-width: 700px)";
$mq-desktop: "(min-width: 900px)";
